# HFF Water Quality

In [1]:
import pandas as pd
import numpy as np

In [14]:
ipe_df = pd.read_csv('data/15_min_data_HFF/IPE 15 min 2022-08-08.csv')
ipe_df

,contTime,Turb_FNU,TurbDailyMn,TurbSamp_NTU,Chloro_RFU,ChloroDailyMn,BGA_RFU,BGADailyMn,ODO_mgL,ODODailyMn,...,Temp_C_raw,Cond_muSCm_raw,TDS_mgL_raw,TotalPres_psi_raw,Turb_avdymn,Chlor_avdymn,Cyano_avdymn,Temp_avdymn,ODO_avdymn,Cond_avdymn
0,2014-06-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-06-20 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-06-20 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-06-20 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-06-20 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285217,2022-08-07 23:00:00,5.48,NaN,NaN,0.34,NaN,0.02,NaN,7.49,NaN,...,18.66,123.4,0.09,13.17,NaN,NaN,NaN,NaN,NaN,NaN
285218,2022-08-07 23:15:00,5.74,NaN,NaN,0.27,NaN,0.03,NaN,7.48,NaN,...,18.64,123.5,0.09,13.17,NaN,NaN,NaN,NaN,NaN,NaN
285219,2022-08-07 23:30:00,6.37,NaN,NaN,0.29,NaN,0.03,NaN,7.47,NaN,...,18.64,123.4,0.09,13.17,NaN,NaN,NaN,NaN,NaN,NaN
285220,2022-08-07 23:45:00,6.40,NaN,NaN,0.34,NaN,0.02,NaN,7.48,NaN,...,18.63,123.4,0.09,13.17,NaN,NaN,NaN,NaN,NaN,NaN
285221,2022-08-08 00:00:00,5.79,NaN,NaN,0.31,NaN,0.04,NaN,7.49,NaN,...,18.62,124.2,0.09,13.17,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
hydro_df = pd.read_csv('data/IslandPark.TS.csv')
hydro_df

,date,elevation.ft,volume.af,smoothed.vol,smoothed.elev,surfacearea.acres,net.evap.af,delta.V.af,regQ.cfs,gain.cfs,smoothed.natQ.cfs
0,1929-06-01,6242.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
1,1929-06-02,6242.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2,1929-06-03,6242.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
3,1929-06-04,6242.000000,0.000000,0.000000,6242.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
4,1929-06-05,6242.000000,0.000000,0.000000,6242.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
34032,2022-08-04,6295.987835,85487.742268,85746.044770,6296.029997,5749.972740,44.999402,-805.902790,922.730000,434.189978,489.088539
34033,2022-08-05,6295.885361,84860.206186,85042.025054,6295.914806,5713.836120,26.240200,-704.019716,883.523125,439.386592,478.063086
34034,2022-08-06,6295.808144,84389.659794,84408.125184,6295.810832,5681.587748,28.283043,-633.899869,893.308542,487.987916,459.484137
34035,2022-08-07,6295.731172,83922.226464,83897.559156,6295.726988,5653.894113,37.381559,-510.566028,829.007292,493.039195,474.614704
34036,2022-08-08,6295.641648,83380.791209,83380.791209,6295.641648,5628.905185,41.494360,-516.767947,777.066354,442.817002,442.817002

In [12]:
climate_df = pd.read_csv('data/Clean.Climate.TS.csv')
climate_df

,Date,GT.TAVE,GT.TMIN,GT.TMAX,GT.DP,GT.AP,GT.SWE,PB.TAVE,PB.TMIN,PB.TMAX,...,HFW.AP,TR.SWE,FR.SWE,HF.SWE,HFW.SWE,AG.DP,AG.ET,HFW.Cum.P,AG.Cum.P,AG.Cum.ET
0,1988-10-01,46.693411,39.265529,57.766686,0.114763,0.114763,0.620305,49.0,39.0,64.0,...,0.012064,0.206768,0.0,0.000,0.068923,0.000,0.155,NaN,3.585,52.600
1,1988-10-02,47.714910,39.265529,59.512750,0.039645,0.154408,0.605119,50.0,39.0,66.0,...,0.016201,0.201706,0.0,0.000,0.067235,0.000,0.180,NaN,3.585,52.570
2,1988-10-03,46.693411,38.190441,56.020623,0.177174,0.331582,0.618704,49.0,38.0,62.0,...,0.030965,0.206235,0.0,0.000,0.068745,0.000,0.170,NaN,3.585,52.580
3,1988-10-04,46.693411,37.115353,56.893655,0.071133,0.402715,0.767831,49.0,37.0,63.0,...,0.036893,0.255944,0.0,0.000,0.085315,0.000,0.185,NaN,3.585,52.600
4,1988-10-05,44.650413,38.190441,56.893655,0.157710,0.560425,0.799557,47.0,38.0,63.0,...,0.050869,0.266519,0.0,0.000,0.088840,0.000,0.175,NaN,3.585,52.615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12360,2022-08-04,59.000000,54.000000,65.000000,0.100000,40.100000,0.000000,60.0,51.0,77.0,...,29.378333,0.033333,0.0,0.050,0.033333,0.000,0.335,32.201111,10.880,51.030
12361,2022-08-05,53.000000,49.000000,59.000000,0.600000,40.700000,0.000000,55.0,52.0,58.0,...,29.502500,0.100000,0.0,0.075,0.066667,0.060,0.075,32.242500,10.940,50.840
12362,2022-08-06,49.000000,44.000000,57.000000,0.000000,40.700000,0.000000,51.0,47.0,57.0,...,29.861667,0.033333,0.0,0.050,0.033333,0.215,0.110,32.337222,11.070,50.780
12363,2022-08-07,52.000000,46.000000,61.000000,2.100000,42.800000,0.000000,54.0,46.0,69.0,...,30.107500,0.033333,0.0,0.025,0.022222,0.000,0.230,32.358333,11.070,50.740
12364,2022-08-08,59.000000,48.000000,67.000000,0.000000,42.800000,0.000000,65.0,45.0,76.0,...,30.107500,0.066667,0.0,0.050,0.044444,0.000,0.280,32.336944,11.070,50.715